@model TesteP3Image.Models.Categorias

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Categorias</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoriaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoriaId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.CategoriaId }) |
    @Html.ActionLink("voltar", "Index")
</p>
