@model Publico.Models.FormularioModel

@using CustomHtmlHelper.Helpers;

@{
    ViewBag.Title = "Formulario";
}

@if (Model.TemRegistros)
{
    <h2><b>Categoria:</b> @Model.Categoria.Descricao</h2>
    <h2><b>Subcategoria:</b> @Model.Subcategoria.Descricao</h2>
    <h3>Formulário</h3>
    <table id="formulario">

        @foreach (var item in Model.Campos)
        {
            <tr>
                <td>
                    @Html.Label(@item.Descricao)
                </td>
                <td>
                    @Html.Raw(GeraCampoHtmlHelper.GerarCampo(item.Tipo, item.CampoId, item.Descricao, item.Lista))
                </td>
            </tr>
        }

        <tr><td><input type="submit" value="Salvar" /></td></tr>

    </table> 
}
@if (!Model.TemRegistros)
{
    <h3>Esta subcategoria não possui registros.</h3>
    <h3>Favor digitar a rota {CategoriaId}/{SubcategoriaId} preenchendo com valores válidos!</h3>
}


